<div class="container pt-5" style="list-style: none;">
    <div class="row pt-5">
        <div class="col-md-4 pt-5">
            <ul style="list-style: none;">
                <li>Home</li>
                <li>About</li>
            </ul>
        </div>
        <div class="col-md-4 pt-5">
            <ul style="list-style: none;">
                <li>Electronics</li>
                <li>People</li>
                <li>food</li>
                <li>Nature</li>
                <li>Art</li>
            </ul>
        </div>
        <div class="col-md-4 pt-5">
            <ul style="list-style: none;">
                <li>Art</li>
                <li>Get the latest photos</li>
                <li></li>
            </ul>
        </div>

    </div>
</div>

