{% load static %}
<div class="container-fluid pt-3 bg-secondary" id="footer">
    <div class="row pt-5 ">
        <div class="col-md-3 pt-3" style="padding-left: 100px;">
            <ul style="list-style: none;">
                <li>Home</li>
                <li>About</li>
            </ul>
        </div>
        <div class="col-md-3 pt-3 ml-auto">
            <ul style="list-style: none;">
                <li>Electronics</li>
                <li>People</li>
                <li>food</li>
                <li>Nature</li>
                <li>Art</li>
            </ul>
        </div>
        <div class="col-md-6 pt-3 ml-auto">
            <i class="fab fa-twitter fa-2x"></i>
            <i class="fab fa-facebook-f fa-2x"></i>
            <i class="fab fa-instagram fa-2x"></i>
            <i class="fab fa-pinterest fa-2x"></i>
        </div>

    </div>
</div>

