<div class="container">
    <div class="row">
        <div class="col-md-4">
            <ul>
                <li>Home</li>
                <li>About</li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul>
                <li>Electronics</li>
                <li>People</li>
                <li>food</li>
                <li>Nature</li>
                <li>Art</li>
            </ul>
        </div>
        <div class="col-md-2">
            <ul>
                <li>Art</li>
                <li>Get the latest photos</li>
                <li></li>
            </ul>
        </div>

    </div>
</div>

