{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GallerWeb -Get the images and photos  from a mazing creators</title>
    {% block styles %}
        {% bootstrap_css %}
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/basegallery.css' %}">
    {% endblock %}
</head>
<body>
    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock %}
    {% block content %}

    {% endblock %}

   

    {% block script %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        {% bootstrap_javascript %}
    {% endblock %}
</body>
</html>